html {
  body {
    #intro {
      background: lightgreen;
    }
    
    #about {
      background: lightblue;
    }
    
    #portfolio {
      background: lime;
    }
    
    #contact {
      background: magenta;
    }
  }
}